<div class="jumbotron mt-4">
        <h1 class="display-4">The Book´s Factory</h1>
        <p=class="lead">ACERCA DE NOSTROS:
        </p>
        <hr class="my-4">
         <p=class="lead">Propósito:
          Acompañarte en tus necesidades y deseos de explorar lecturas emocionantes, divertidas 
          y que te hagan viajar a otro mundo dentro de un libro.
          
        </p>

        <p=class="lead">Breve Historia:
          The Book´s Factory nacio como un proyecto universitario que se ha ido desarrollando poco a poco
          gracias a la contribucion de varias personas.
        </p>
         
        <img src="https://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/04/13/Recortada/img_lgomez_20180413-202537_imagenes_lv_otras_fuentes_libreria-kCZD-U442526097288aaG-992x558@LaVanguardia-Web.jpg"> 
    </div>