<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Catalogo</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="row">
    {{#each libro}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{titulo}}
                </h4>
               <img src="{{imagen}}" width=100 height=100>
            </div>
        </div>
    </div>
    {{/each}}
</div>

</body>
</html>