<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CRUD</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<br><br><br>
<div class="container">

<div class="row">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Título</th>
      <th scope="col">Editorial</th>
      <th scope="col">Autor</th>
      <th scope="col">Genero</th>
      <th scope="col">País</th>
      <th scope="col"># de páginas</th>
      <th scope="col">Fecha</th>
      <th scope="col">Operaciones</th>
    </tr>
  </thead>
  <tbody>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
          <a href=" " class="btn btn-danger">Delete</a>
          <a href=" " class="btn btn-info">Edit</a>
      </td>
  </tbody>
</table>

    